[submodule "ranger/ranger.symlink_config/plugins/ranger_devicons"]
	path = ranger/ranger.symlink_config/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "osx-terminal/themes"]
	path = macos-terminal/colorschemes
	url = https://github.com/lysyi3m/macos-terminal-themes.git
[submodule "nvim/nvim.symlink_config"]
	path = nvim/nvim.symlink_config
	url = https://github.com/Buckmeister/lualoves.nvim.git
